anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
distlib
Django
djangorestframework
djangorestframework-simplejwt
entrypoin
et-xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
gunicorn
h11
id
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
packagin
pandas
pandocfilters
parso
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparse
pydantic
Pygments
PyJWT
pyparsing
pypiwin
pyrsistent
python-dateutil
pytz
pywin
pywinpty
pyzmq
requests
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
starlette
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
wcwidth
webencodings
websocket-client
Werkzeug
